body {

}

/* Navigation bar */
.navbar {
  background-color: #D93A33;
  margin-bottom: 0;
  border-radius: 0;
  border: 1px solid #D93A33;
}

.navbar img {
  height: 150%;
  margin-top: -7px;
}

.navbar-collapse ul{
  text-transform: uppercase;
}

.navbar-right li a span {
  background-color: #4CAF50;
  padding: 18px;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  padding: 0;
  margin: 0 0 60px 0;
}

.back1{
  background-image: url("../img/background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h2 {
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  color: #2762A9;
  font-size: 55px;
  padding-top: 100px

}
.jumbotron h3 {
  font-family: 'Architects Daughter', cursive;
  color: #2762A9;
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.big_img {
  height: 200px;
  margin: auto;
  display: block;
}

/*Middle Section*/
.sm_img img{
  height: 30px;
  width: 35px;
  margin: auto;
  display: block;
}

.our-innovations {
  background-color: #008B89;
  color: white;
  padding: 25px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2em;
}

.our-innovations a {
  color: white;
}

.our-impact {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2em;
}

.our-innovations h4 {
  text-align: center;
}
.our-innovations p {
  text-align: center;
}
.our-impact p {
  text-align: center;
}
.our-impact h4 {
  text-align: center;
}

.our-impact .col-md-4,
.our-innovations  .col-md-4 {
  padding: 10px 0 10px 0;
  text-align: left;
}



/* Main SunRise Image */
.sunrise {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-family: 'Fira Sans', sans-serif;
  border: 1px solid #083478;
  padding: 0;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sunrise img {
  width: 150px;
  padding-top: 60px;
}

.top-container {
  padding-bottom: 300px;
}

.bottom-container {
  font-size: 1.4em;
  padding-bottom: 50px;
}

.bottom-container a{
  color: white;
}

/*Last Thing 3 colums*/

.last_thing{
  margin-top: 65px;
  margin-bottom: 65px;
}

.last_img img{
  height: 100px;
  margin: auto;
  display: block;
}

.last_img a{
  text-decoration: none;
  color: #332A42;
}

/*Newsletter */

.newsletter{
  color: white;
  background-color: #D93A33;
  padding: 50px;
}

.newsletter img{
height: 100px;
display: block;
margin: auto;
}

.newsletter button{
  background-color: #D93A33;
  color: white;
}
.newsletter button:hover {
  background-color: #D93A33;
  color: white;
}

/* Last Mozilla Column*/

.last-mozilla{
  background-color: grey;
  color: aqua;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-right li a span:hover {
  text-decoration: none;
  color: white;
}

/* Media query size max is 991px */
@media (max-width: 991px) {
  .sm_img img {
    display: none;
  }

  .our-innovations .col-md-3 {
    text-align: center;
  }

  .our-impact .col-md-4 {
    padding: 10px 0 10px 0;
    text-align: center;
  }
}

/* Media query size is 825px */
@media (max-width: 825px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Media query size is small (768px) */
@media (max-width: 768px) {
  .navbar-header button {
    float: left;
    border: none;
    background-color: #C13832;
  }

  .navbar-header .navbar-toggle {
    padding: 18px 15px;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

}
